<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Waleed khaled Layout</title>
</head>
<body>
    <header>
        <h2>Codimp</h2>
        <nav>
            <ul>
                <li id="homenav"><a href="#" id="active">home</a></li>
                <li id="aboutnav"><a href="#">about</a></li>
                <li id="shopnav"><a href="#">shop</a></li>
                <li id="ordernav"><a href="#">order</a></li>
                <li id="contentnav"><a href="#">content</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="home">
            <h2>Welcome to codimp</h2>
            <p> you will get fun and every thing you need in program <br>We hope you get fun</p>
            <div class="buttons">
                <button class="next n1">Next Page</button>
            </div>
        </section>
        <section class="about">
            <h2>About us</h2>
            <p>We are full team work on serve the best service for our clients and use the technology to make the life easier</p>
            <div class="buttons">
                <button class="previous p2">Previous Page</button>
                <button class="next n2">Next Page</button>
            </div>
        </section>
        <section class="shop">
            <h2>Looking for New ideas</h2>
            <p>This a <a href="https://ronest-store.netlify.app" target="_blank">fit place</a> for your thoughts</p>
            <div class="buttons">
                <button class="previous p3">Previous Page</button>
                <button class="next n3">Next Page</button>
            </div>
        </section>
        <section class="order">
            <h2>New order</h2>
            <p>You can order your website or any service and get a discount if you have first time to try <br> What are you wait? <a href="https://ronest-get-your-website.netlify.app" target="_blank">order now</a></p>
            <div class="buttons">
                <button class="previous p4">Previous Page</button>
                <button class="next n4">Next Page</button>
            </div>
        </section>
        <section class="content">
            <h2>Need anything?</h2>
            <p>If you need a any support <a href="https://ronest-contact.netlify.app" target="_blank">contact us</a></p>
            <div class="buttons">
                <button class="previous p5">Previous Page</button>
                <button class="next n5">Next Page</button>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2026 Codimp. All rights reserved.</p>
        <p>Designed & Developed by <a href="https://waleed-khaled.netlify.app" target="_blank">Waleed Khaled</a></p>
    </footer>
<script type="module" src="scripts/navigate.js"></script>
</body>
</html>